<h1><%= t 'headline.edit', deep_interpolation: true, model_name: Book.model_name.human %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to (t :show_this_model, deep_interpolation: true, model_name: Book.model_name.human.downcase), @book %> |
  <%= link_to (t :back_to_models, deep_interpolation: true, model_name: Book.model_name.human.downcase), books_path %>
</nav>
