<h1><%= t('headline.new', model_name: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t(:back_to_models, model_name: Book.model_name.human.downcase), books_path %>
</nav>
